#   Base Tubo Google Sheets

In [29]:
import pandas as pd
Base = pd.read_excel("https://docs.google.com/spreadsheets/d/1Vn_Dvy59N45ZJ6cVOIZHG1LcHChLMORqYduuLMrRajM/export?format=xlsx",sheet_name="Expedição")
Index_Tubo = ['Data Coleta','Planilha','Hora Coleta','Veículo','Modal','Transportadora','Volumes']

Base =Base[Index_Tubo]
Base['Planilha'] = Base['Planilha'].fillna(0)
Base[['Planilha','Volumes']] =Base[['Planilha','Volumes']].astype(int)
Base= Base.loc[(Base['Veículo']!='EXPORTAÇÃO')&(Base['Veículo']!='HUMANA')&(Base['Veículo']!='HUMANA')
               &(Base['Veículo']!='CLIENTE RETIRA')&(Base['Planilha']!=0)]
Base

,Data Coleta,Planilha,Hora Coleta,Veículo,Modal,Transportadora,Volumes
0,2023-02-08,3891286,08:00:00,FRACIONADO,LTL,Rápido Figueiredo,289
1,2023-02-08,3891282,12:00:00,FRACIONADO,LTL,SR LOG,374
2,2023-02-08,3891295,12:00:00,FRACIONADO,LTL,VDC,74
3,2023-02-08,3891094,14:30:00,FRACIONADO,LTL,Eucatur,193
4,2023-02-08,3891090,15:00:00,FRACIONADO,LTL,Rede Sul,367
...,...,...,...,...,...,...,...
89,2023-02-09,3891479,11:00:00,TRUCK,FTL,FTL,722
90,2023-02-09,3891422,11:00:00,VAN,FTL,FTL,172
91,2023-02-09,3891163,14:00:00,CLIENTE RETIRA,RET,ILENDER,20
92,2023-02-09,3892443,08:30:00,CARRETA,XD,BA,2941
93,2023-02-09,3892446,08:30:00,CARRETA,XD,PE,2812

# BASE 345

In [30]:
import chardet
file ='C:/Users/luan.carvalho/OneDrive - Solistica/GESTÃO DE PEDIDOS/Aderencia de Grade/345.xlsx'
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': None, 'confidence': 0.0, 'language': None}

In [31]:
import pandas as pd
Base345 =  pd.read_excel(file)
Base345['VOL./ST.'] =Base345['VOL./ST.'].fillna(0)
Base345[['Planilha','CTE','Nota/Pedido','VOL./ST.']] = Base345[['Planilha','CTE','Nota/Pedido','VOL./ST.']].astype(int)

# MARGE DATAFRAMES

In [32]:
import pandas as pd
Base_Oficial=  pd.merge(Base,Base345,on="Planilha",how="left")
#Base_Oficial.columns
index_Base_ofocial= ['Data Coleta', 'Planilha', 'Hora Coleta', 'Veículo', 'Modal',
       'Desc C.c', 'Nota/Pedido','Transportadora','Desc_Status', 'Setores','VOL./ST.']
Base_Oficial=Base_Oficial[index_Base_ofocial]

In [33]:
Setores =Base_Oficial.groupby(['Planilha','Data Coleta', 'Hora Coleta','Modal','Transportadora','Setores','Desc_Status'
                             ],as_index=False)['VOL./ST.'].sum()

In [34]:
Setores =Setores.pivot_table(values= 'VOL./ST.',index=['Planilha','Data Coleta', 'Hora Coleta','Modal','Transportadora','Setores'],columns='Desc_Status',fill_value=0)

In [35]:
Setores['Vol. Produzidos'].sum()

10358